[2017-02-24 15:20] seboettg opened #1 "misunderstanding test case sort_BibliographyCitationNumberDescending"
Hi everyone,

I have a question concerning the following test case:
https://github.com/citation-style-language/test-suite/blob/master/processor-tests/humans/sort_BibliographyCitationNumberDescending.txt

The above test case aims to test sorting behaviour. But I do not understand this test case for different reasons:
1) The sorting key is _citation number_ (`<key variable="citation-number" sort="de

[2017-02-24 15:41] rmzelle commented on #1
It's my understanding that the "id" field has no relation with "citation-number" whatsoever, and that the latter is purely determined by the order in which the items are stored in the array. See http://citeproc-js.readthedocs.io/en/latest/csl-json/markup.html?highlight=item-1#id-field and http://citeproc-js.readthedocs.io/en/latest/csl-json/markup.html?highlight=item-1#citation-items-container.

T

[2017-02-25 01:17] fbennett commented on #1
@seboettg, @rmzelle: Nice one. Thanks for questioning this. Playing with the test, it's clear that sorts on `citation-number` in `citeproc-js` are buggy, so there's definitely some work to do; but `citation-number` itself is a little slippery, and we'll need to pin down exactly what we mean by it before fixing things up.

Rintze is right that the `citation-number` displayed against a bibliography

[2017-02-25 03:02] rmzelle commented on #1
@seboettg, can you explain why you are interesting in this behavior? Are you programming a CSL processor, or do you want a CSL style that sorts items in reverse order?

[2017-02-26 11:39] seboettg commented on #1
Thanks for your replies. That clarify my confusions.  

@rmzelle _citeproc-php_ by Ron Jerome is not longer maintained by him, so I took this task some time ago. Since a couple of month I'm working for a completely rewritten version of citeproc-php, that will be able to render citations as well as bibliographies. And I would like to implement missing features like sorting. Also it aims in a lot of

[2017-02-26 15:37] rmzelle commented on #1
Okay, great. So your fork completely superseded his repository? If so, I'll update http://citationstyles.org/developers/#CSL_Processors to point to https://github.com/seboettg/citeproc-php for citeproc-php.

Please let us know when you reach 1.0 for your rewrite!

[2017-02-26 15:53] rmzelle commented on #1
By the way, you should be aware that the current test suite has some issues in terms of its custom format and coverage. It was created by @fbennett specifically for development of citeproc-js, and we haven't yet put in a lot of work to make it an accessible resource for developers of other CSL processors. See http://xbiblio-devel.2463403.n2.nabble.com/CiteProc-for-NET-td7579469.html for some addit

[2017-03-15 13:17] seboettg commented on #1
Rintze, Thank you for this hint. Before, I was getting in trouble with a lot of test cases, caused of these test cases and not because of a falsely implementation of the CSL specification. I was running in exactly the same problems as it Fouke has described in your mailing list.

I really like the approach of human readable test cases, that can be converted by a processor into the JSON format (or

[2017-03-15 14:05] fbennett commented on #1
If there is any way I can help, let me know. The tests in the citation-styles repo are meant to be CSL-conformant. For several years, ad I've come across tests of citeproc-js-specific features, I've moved them to the "local" tests subdir of the citeproc-js-specific source repo. If it will go, I can spin that subdir off to a separate repo and give write privileges to anyone working on test-suite re

[2017-03-15 14:23] rmzelle commented on #1
@fbennett, ah, thanks. We're probably fine with the current split, then. @fbennett, @inukshuk, if you would be creating a test suite for CSL from scratch, what would be different? Is it mainly that you would pick a format such as Cucumber? Anything else? Is there anything we should do to make it easier to allow for continuous integration testing (e.g. via Travis CI) for the various CSL processor r

[2017-03-15 18:29] inukshuk commented on #1
The main benefit of something like the current text format (or Cucumber) is that it is relatively easy for everyone to add test files. Having said that, the JSON format is great because it is so easy, nowadays, to use it as is, or to convert it to a more suitable format for your platform.

A few years ago, I [converted](https://github.com/inukshuk/citeproc/blob/master/tasks/testsuite.rb#L90) most

[2017-05-11 08:56] seboettg commented on #1
@rmzelle I've just released the new version of citeproc-php. It would be great if you set a link to https://github.com/seboettg/citeproc-php on citationstyles.org.

I guess a main improvement would be to add a description for every single test case. Not infrequently one do not understand what a test case intend to test exactly.

[2018-05-24 05:38] michel-kraemer opened #2 "Item type film in bugreports_MissingItemInJoin"
[`bugreports_MissingItemInJoin.txt#L292`](https://github.com/citation-style-language/test-suite/blob/master/processor-tests/humans/bugreports_MissingItemInJoin.txt#L292) uses the item type `film` which AFAIK does not comply with the standard. I'm wondering if this is the actual bug you want to test against or if this is just a mistake.

The reason why I'm asking this is that citeproc-java uses a J

[2018-06-25 03:19] rmzelle commented on #2
@fbennett, could you take a look? Per http://docs.citationstyles.org/en/stable/specification.html#appendix-iii-types, this should presumably be "motion_picture"?

[2019-01-18 01:44] fbennett commented on #2
Fixed. Sorry about the delay in responding.

[2019-01-18 01:44] #2 closed

[2019-06-23 06:53] #1 closed

[2019-09-10 20:03] gallardo opened #8 "doc: layout mismatch"
Trying to understand tests from https://github.com/Juris-M/jm-style-tests, there is a mismatch between the layout sections listed in https://github.com/citation-style-language/test-suite#fixture-layout and the sections in e.g. `apa/style_test001.txt`. This last one has:

- MODE
- KEYS
- DESCRIPTION
- RESULT
- INPUT

but no

- CSL

Furthermore, the mode `all` configured in `style_test001.txt` isn't

[2019-09-10 20:19] adam3smith commented on #8
https://github.com/citation-style-language/test-suite#fixture-layout is for testing CSL processors, so it tests individual outputs (i.e. citation or bibliography) and minimal CSL needs to be part of the test. Because it applies to all processors, it's part of the CSL repository.

https://github.com/Juris-M/jm-style-tests isn't fully documented and is for testing _styles_ against citeproc-js (which

[2019-09-10 20:30] gallardo commented on #8
Thanks, I see. I guess the confusion comes from the inaccurate statement from downstream https://github.com/Juris-M/citeproc-test-runner#test-layout:

[2019-09-10 20:31] #8 closed

[2019-09-10 20:33] gallardo commented on #8
:flushed: Now I read further:

Sorry for the disruption

[2019-10-31 15:41] larsgw opened #9 "Title-case for uppercase strings (textcase_CapitalsUntouched)"
The specs say, about [title case conversion](http://docs.citationstyles.org/en/stable/specification.html#title-case-conversion):

Yet in the following test case, two uppercase strings ("UK" and "OC 1") are capitalized according to rule 2 (where non-lowercase words stay the same):

https://github.com/citation-style-language/test-suite/blob/d72a1ebb959dc67e8b1c6dbfc2e6a8be934ecb68/processor-tests/hu

[2020-03-20 14:27] DrGo opened #11 "inconsistent use of section markers"
Hello,
I am writing a CSL processor in Go (https://github.com/DrGo/csl) and wrote a simple tool to process the test fixture files.
I noticed inconsistent use of markers in the file magic_SecondFieldAlign.txt, so  there is
`>>== MODE ==>>`
but
`>>===== CSL =====>>`
Is this a bug in the file or are both version permitted?

Thanks,

/salah

[2020-05-24 07:31] ndw opened #12 "Translation of quotes?"
In the test `affix_CommanAfterQuote.txt`, the citation item is:
[code]
but the expected output is:
[code]
I can't find anything in the specification that indicates that single quote characters should be translated into opening and closing typographic quotes. Why is the output from this test not:
[code]

[2020-05-24 09:00] ndw commented on #12
Similarly, the result in `affix_MovingPunctuation.txt` has double quotes translated into matching typographic quotes.

[2020-05-24 09:04] ndw opened #13 "What are the rules for putting spaces around prefixes and suffixes?"
I can't find any discussion in the specification of when spaces are added before and/or after prefixes and/or suffixes. Indeed some of the examples in the spec appear to explicitly make spaces part of the prefix and/or suffix. (Apologies if I've overlooked the relevant part of the spec.)

In `affix_PrefixFullCitationTextOnly.txt`, the expected result is
[code]
By my naive interpretation of the tes

[2020-05-24 10:32] fbennett commented on #12
The logic of quotation marks is  not fully explained, but the tested behavior follows from the spec on Quotes (["the quotation marks used are terms"](https://docs.citationstyles.org/en/1.0.1/specification.html#quotes)), and the term names specified under Appendix II: Terms (["open-quote/close-quote"](https://docs.citationstyles.org/en/1.0.1/specification.html#quotation-marks) and ["open-inner-quot

[2020-05-24 10:41] fbennett commented on #13
Yes, this is beyond the CSL specification. The `citeproc-js` processor adds implicit trailing space to cite prefixes when joining on "romanesque" characters, and similarly adds implicit leading space on cite suffixes unless the leading character is a punctuation mark. (If there are objections, tests that exercise this behaviour could be removed from the CSL test suite.)

[2020-05-24 10:45] ndw opened #14 "The abbreviations section is not described"
Neither the spec nor the test-suite documentation appear to describe how the abbreviations section applies. For example, in `condition_IsNumeric.txt`:
[code]

[2020-05-24 10:48] fbennett commented on #11
The fixture format isn't at all pretty. :-( Here are the regexps that I use to snip out the blocks, which is forgiving of sloppiness in the markup:
[code]

[2020-05-24 11:05] fbennett commented on #9
Yes, the behavior doesn't fit the stated rules here, does it. it's reflecting behaviour of `citeproc-js`, which I think is coded to avoid touching things that look like acronyms (OECD, WTO, WHO, FAA...), which might well turn up as the sole "word" in a title.

[2020-05-24 11:43] ndw commented on #12
So the interpretation of the string `'quote',` is:

1. abstract quote mark
2. the string `quote`
3. abstract quote mark
4. the string `,`

And the processor decides how to render the abstract quote marks, including whether or not the following punctuation `,` appears inside or outside them.

Do I have that right?

(I really don't see where that's specified, FWIW)

[2020-05-24 11:48] ndw commented on #13
For what it's worth, I think any behavior that is "beyond the specification" should cause the test to fail. The specification should demand a trailing space or forbid a trailing space. If the specification is ambiguous, that's a bug in the spec.

[2020-05-24 11:51] larsgw commented on #9
What things look like acronyms? How would one distinguish between a book titled Dr Who but written in uppercase and a website about Disaster Relief by the World Health Organization? I guess this is an edge case, and I don't have an incentive for objecting to the fixture, I was just wondering.

[2020-05-24 13:43] fbennett commented on #12
That's right. If "follows from" is too strong an assertion, I'll softening it to, "compatible with." In any case, that's my recollection as an implementer. I'll leave discussion of the specification proper to the CSL maintainers.

[2020-05-24 13:55] fbennett commented on #9
It take that back. It's not guessing at acronym-like things, it's doing what the name of the test suggests: capital letters are not lowercased. That makes the behaviour even further removed from the spec language, but also simpler to explain. It also fits the advice commonly given to users by the CSL team: to set titles in sentence case, capitalizing only things (like acronyms and proper nouns) th

[2020-05-24 13:58] bdarcus commented on #12
Flagging this for a few people, since it bears on the clarity of the spec. Would be nice if we could plug these holes are Norm is identifying them, and we're working on resolving lingering issues on the schema.

@rmzelle @adam3smith @bwiernik @denismaier

[2020-05-24 13:59] bdarcus commented on #14
Flagging this for a few people, since it bears on the clarity of the spec. Would be nice if we could plug these holes are Norm is identifying them, and we're working on resolving lingering issues on the schema.

@rmzelle @adam3smith @bwiernik @denismaier

[2020-05-24 14:00] bdarcus commented on #13
I agree. If the spec is unclear now, but it's straightforward to fix, we should do that.

If there's some debate, then we should remove from the test suite, or maybe put it in some "pending" directory or something.

Flagging this for a few people, since it bears on the clarity of the spec. Would be nice if we could plug these holes are Norm is identifying them, and we're working on resolving linge

[2020-05-24 14:28] ndw commented on #14
Also appearing in tests but not described in the test-suite documentation: DESCRIPTION, LANGPARAMS, MULTIAFFIX, and OPTIONS

Also, BIBSECTION which is described does not appear in any tests.

[2020-05-24 14:50] rmzelle commented on #14
I think these abbreviations are a `citeproc-js`-specific extension of CSL (this test-suite repo was created by citeproc-js/Juris-M creator @fbennett). See also https://juris-m.readthedocs.io/en/latest/abbrevs.html.

[2020-05-24 15:09] bdarcus commented on #14
So we should thus remove them @rmzelle?

[2020-05-24 15:15] denismaier commented on #14
Wait, `pandoc-citeproc` is uses abbreviations as well (see [here](chttps://github.com/jgm/pandoc-citeproc/blob/master/man/pandoc-citeproc.1.md)).
Also, there's been some discussion to extend [abbreviations support](https://forums.zotero.org/discussion/75788/distributing-custom-abbreviations-file) with Zotero.

[2020-05-24 15:25] bdarcus commented on #14
Maybe we need a PR to add this to the spec, then?

And in the meantime, move it to another directory?

[2020-05-24 15:58] ndw opened #15 "The csl in textcase_NoSpaceBeforeApostrophe is not well formed"
Lines 20-23:
[code]

[2020-05-24 16:31] ndw opened #16 "Several tests use undocumented modes"
Several tests have modes that are not described in the documentation: `bibliography-header` (`bibheader_EntryspacingDefaultValueOne`, `bibheader_EntryspacingExplicitValueZero`, `bibheader_SecondFieldAlign`, `bibheader_SecondFieldAlignWithAuthor`, `bibheader_SecondFieldAlignWithNumber`), `citation-rtf` (`bugreports_NonBreakingSpaceJoinFail`) and `bibliography-nosort` (`sort_BibliographyNosortOption

[2020-05-24 17:07] bwiernik commented on #13
@fbennett I know that citeproc-js has a fair amount of these sorts of behaviors. Do you have a suggestion for how we might go through and identify them systematically?

[2020-05-24 17:50] adam3smith commented on #13
For the general issue: we're well aware that there are many such cases. Given the amount of attention to detail and fixes for specific issues have gone into citeproc-js and thus the test suite, I'd be surprised if there were fewer than 50 such tests that cover issues not made explicit in the specifications and I think we actually have some language somewhere that says the tests are right where the

[2020-05-24 18:07] bdarcus commented on #13
Indeed, there's been recent discussion of just this.

[2020-05-24 18:24] ndw commented on #13
If CSL is defined by the `citeproc-js` implementation, the spec should say that. If it isn't, then the test suite should reflect what the spec says, not what the `citeproc-js` implementation does.

I want to generate citations and bibliographic entries from tagged data. Hand coding every possible format is impractical. Having some kind of abstraction seems like a much better approach.

CSL was sug

[2020-05-24 18:58] adam3smith commented on #13
The specification _is_ a complete specification of the syntax of CSL styles, i.e. (mostly) exhaustive for people interesting in coding styles.
The specification is indeed _not_ an even remotely complete specification of the expected output to be produced by CSL processors for all input, i.e. not close to exhaustive for people coming from your perspective. I'm sorry if you found the labeling here m

[2020-05-24 19:06] bdarcus commented on #13
Maybe, then, we just need explicitly say this in the right places; at the top of the README for the test suite, for example?

[2020-05-25 01:10] adam3smith commented on #13
Yes, that seems right to me. We say something along those lines on the website already: https://citationstyles.org/developers/ and I think similar or even more explicit text in the introduction of the test-suite makes a lot of sense.

That also seems right, though I think "inconsistent" really isn't the right term for a lot of them. "Aren't current addressed in..." makes more sense.

I would also

[2020-05-25 01:16] bdarcus commented on #13
Good point. Maybe we need two spec docs.

[2020-05-25 06:14] fbennett commented on #13
Two observations that I hope will not further complicate the discussion.
1. While it doesn't have any bearing on decisions over content of the CSL specification, adding a trailing space to the prefix in `affix_PrefixFullCitationTextOnly.txt` test is fine as far as `citeproc-js` goes: it passes the test either way. The same goes for the prefix attribute in any similar tests.
2. An important item no

[2020-05-25 07:21] ndw commented on #13
I completely understand the necessity of making pragmatic choices. However, at the risk of being perceived as argumentative, the behavior of `citeproc-js` is either conformant to the specification or it is not. The specification must make that clear or it isn't useful to prospective implementors.

I don't care (I do in fact care, but my personal opinions aren't relevant to this discussion) how thi

[2020-05-25 07:46] bwiernik commented on #13
I think that ultimately producing style-authoring and citeproc-implementing spec documents will be valuable.

In the interim, explicitly stating that the test suite results should considered canonical in cases where the spec is ambiguous would address much of this issue.

[2020-05-25 08:31] denismaier commented on #13
Yes.

Concerning one or two docs: Having two distinct documents is a good idea, but I guess there will be some overlap though. Where the document for style authors will say "do X if you want Y output" the document for citeproc implementers will say "citeprocs are expected to process X in a Y way". I don't know if there is an elegant way to solve this and to keep both documents in sync.

[2020-05-25 09:05] bwiernik commented on #13
I think the citeproc spec would be supplemental to the main spec.

[2020-05-25 09:21] denismaier commented on #13
Just for the record: Biblatex has a very nice mechanism for this problem: you add `\newunit` or `\newblock` to add delimiters, but those get only printed with the next field. And there will always only be one new unit delimiter.

[2020-05-25 11:22] bdarcus commented on #13
Numbers:

- 871 tests here.
- over 8,500 CSL styles in our repo (though most are dependent, so basically aliases that contain no processing instructions)
- dozens of implementations
- hundreds of thousands of users (I think; not sure on the specifics here)

We already have a version number on the style element. All current styles are "1.0".

So it would be feasible to do a "1.1" release that did t

[2020-05-27 12:11] bdarcus opened #17 "better structure test suite to make clear what's required of CSL implementers"
This arises from #13 and #16. What I concluded on the former issue is:

What I'm contemplating is we need to add three additional parameters or sections to the tests; perhaps:

1. version (with values like "1.0", "1.1", "1.0-M"; that sort of thing)
2. description (ideally we write this in spec language)
3. section (something to group tests together)

My thought is that we do this in such a way tha

[2020-05-27 12:20] bdarcus commented on #17
So, for example of illustration, this:

[code]

... could become:

[code]

... or maybe we allow a YAML header of something like this (standard, and much more compact):

[code]

[2020-05-27 13:56] bdarcus commented on #17
Hmm .... here's a problem with automating a key part of this; was hoping we could someone test on the embedded CSL, but it turns out ...

[code]

E.g. it seems that there's no version distinction based on csl vs csl-m?

[2020-05-27 15:14] denismaier commented on #17
Maybe there are no csl-m tests in this repo?
At the citeproc-js repo you'll find test fixtures for csl-m, e.g. [this one](https://github.com/Juris-M/citeproc-js/blob/master/fixtures/local/multilingual_NameTransliteration.txt).

[2020-05-27 15:16] bdarcus commented on #17
That would be great; if effectively there were only a handful that slipped through?

[2020-05-27 15:18] denismaier commented on #17
Have you had a look a [jest-csl?](https://github.com/cormacrelf/jest-csl)
That is used for testing styles, but the syntax is instructive.

Concering
[code]

Maybe something like this:

[code]
???

[2020-05-27 15:23] bdarcus commented on #17
No, but that looks really promising!

Where the hell is @cormacrelf anyway; seems we could use his help ;-)

Not just because of jest (and because I look forward to a complete citeproc-rs!), but because he's the most recent developer to work his way through a full CSL implementation.

[2020-05-27 15:44] denismaier commented on #17
I have to admit that I don't always understand which features require csl-m version attribute. Some csl-m features seem to work also with `version="1.0."`.

[2020-05-27 15:47] bdarcus commented on #17
This test viewer is pretty nice too:

https://cormacrelf.github.io/citeproc-rs-test-viewer/

Am curious about those "ignored" ones.

[2020-05-27 15:56] bdarcus commented on #17
His "ignore" list:

https://github.com/cormacrelf/citeproc-rs/blob/cd73f28945a980e984e73163f6f59e513336c570/crates/citeproc/tests/data/ignore.txt

[2020-05-27 16:54] bdarcus commented on #16
Norm - trying to put in something helpful to address these immediately, without really knowing anything about the test suite,

I've added this PR which adds a list of tests to ignore from the citeproc-rs project, which is the most recent full-blown CSL implementation, and is intended to supercede citeproc-js.

That list already had most of the tests you list here, except for two, which I just adde

[2020-05-28 19:06] jgm opened #19 "CSL omitted in translation to "machine" form"
In `processor-tests/machines/name_BibliographyNameFormNeverShrinks.json` I see
[code]
which leaves off the beginning of the CSL file. The whole thing is correctly represented in the corresponding (human) .txt file, and it seems to be valid.  So this seems to be an issue with the generation of the machine-readable versions by `python processor.py --grind`.

[2020-05-28 19:11] jgm commented on #19
Similar issues in several other tests, including
bugreports_DelimiterOnLayout
name_BibliographyNameFormNeverShrinks
group_LegalWithAuthorDate
bugreports_EnvAndUrb

Also textcase_NoSpaceBeforeApostrophe has invalid xml:
[code]

[2020-05-28 19:16] bdarcus commented on #19
Is this a new problem @jgm?

I merged a PR yesterday that was intended to fix a regular expression, but perhaps it failed.

Can you take a look at this please?

https://github.com/citation-style-language/test-suite/commit/af561aa54c634c15299656cb04111f49cb0ced65

[2020-05-28 19:19] bdarcus commented on #19
And here's the PR:

https://github.com/citation-style-language/test-suite/pull/10

[2020-05-28 20:01] jgm commented on #19
I don't know, I'm doing something new (fooling around with writing a lua citeproc), so it's not that something that was working before broke.

[2020-05-28 20:08] bdarcus commented on #19
OK. I don't really know anything about this myself.

Maybe @fbennett can offer insight.

[2020-05-28 20:09] jgm commented on #19
Not sure what is going on now!
I reset to current master HEAD.
Now when I run `python processor.py --grind` I get
[code]
and I notice that many of the .txt files are changed from their repository versions. (I wouldn't have expected this program to change the sources.)

Reverting the commit you mention doesn't affect this.

Am I doing something wrong?

If I revert to 4a549a6fbc34ba0933c10137f703221

[2020-05-28 20:11] bdarcus commented on #19
OK, that error I understand, and can fix. Give me a bit.

[2020-05-28 20:14] bdarcus commented on #19
That error should be fixed.

[2020-05-28 20:18] bdarcus commented on #19
I just ran the script and looked at the `processor-tests/machines/name_BibliographyNameFormNeverShrinks.json`. Note that I do NOT see the same output as you. I see a full CSL style for the "csl" value, with the root "style" element.

[2020-05-28 20:31] bdarcus commented on #19
Again, on this I see what I expect: a full style; not the above.

[2020-05-28 20:44] adam3smith commented on #19
@bdarcus -- pretty sure @jgm just pulled out that line, which is invalid XML. I've created a pull request, should be OK to merge, but I'm doing too many things at once so please take a quick look before merging.

[2020-05-28 20:54] #15 closed

[2020-05-28 20:56] bdarcus commented on #19
Right; I clearly misread that one.

So @jgm - some of this is now fixed.

[2020-05-28 21:21] jgm commented on #19
Great!  That fixes all my xml parsing errors, thank you.

I'm still wondering why the grind script changes the source files, but that's a more minor issue.

[2020-05-28 21:21] jgm commented on #19
Feel free to close this if you intend the changing .txt files.

[2020-05-28 21:24] bdarcus commented on #19
I'll leave it open for a bit in case @adam3smith  or @fbennett have anything to say on that.

But glad it's working now!

Since you're looking at the test-suite now, if you have any time, I'd welcome input on #16. I've just pushed a PR that addresses it, I think.

[2020-05-28 21:28] jgm commented on #16
I was wondering about these, so I'm glad you're documenting them.

[2020-05-28 21:38] bdarcus commented on #16
The PR basically removes them from the test suite, as generated by
processor.py.

Do you have any view on that as a solution, vs the ignore.txt file?

[2020-05-28 22:10] bdarcus commented on #16
Nevermind; Frank is going to remove them entirely.

On Thu, May 28, 2020, 5:38 PM Bruce D'Arcus <bdarcus@gmail.com> wrote:

[2020-05-28 22:48] bdarcus commented on #15
Thanks for the report. Fixed.

[2020-05-29 02:43] fbennett commented on #14
@ndw

Tests that used the last three have been removed from the repo. The first element has been removed from the one test that remained (https://github.com/citation-style-language/test-suite/commit/def009c50bfc4bc6865104ce782e15f7d6dd436a)

[2020-05-29 03:10] fbennett commented on #19
For `citeproc-js` development, I built a new test runner, [citeproc-test-runner](https://www.npmjs.com/package/citeproc-test-runner) that can run in Travis-CI. It has some nice features, including a watch mode that provides dynamic updates in a terminal window as a style file is being edited, and configurable paths to the various inputs needed to run a processor. It's coded to run `citeproc-js`, b

[2020-05-29 03:53] fbennett commented on #13
To simplify things for the present, I've added explicit trailing space on all cite prefixes, and explicit leading space on all suffixes that require it. (https://github.com/citation-style-language/test-suite/commit/264f3bf59027b77c7a2b32239a6f82384b7cd090), retaining a copy of the original fixtures in the `citeproc-js` source. Hope this helps.

[2020-05-29 10:43] bdarcus commented on #19
@fbennett do you recommended we add that new test runner to this README?

[2020-05-29 10:43] #19 closed

[2020-05-29 10:43] #16 closed

[2020-05-29 10:44] #14 closed

[2020-05-29 10:50] bdarcus commented on #12
My understanding of where we're at now:

@fbennett has now removed spec files that rely on undocumented modes (#16).

This one is not one of them, and the resolution of this is to document this behavior.

So I should probably move this to the documentation repo.

Correct?

[2020-05-29 10:55] bdarcus commented on #13
@ndw - does this indeed help, so I can close this?

I'll leave the broader #17 issue for addressing your broader point longer term, though at this point most of the work needs to happen in documentation.

[2020-05-29 14:16] bwiernik commented on #13
We should discussion spacing behavior, perhaps in a different issue. I think that citeproc-js's behavior here is correct, especially for GUI clients like Zotero or Mendeley, where whether a space if provided at the end of a prefix is often not clear to the user.

[2020-05-29 14:29] bdarcus commented on #13
So maybe open an issue on the documentation repo to clarify the spec on this, link to this issue, and then revise the test to confirm to the new language?

[2020-05-29 17:07] jgm opened #22 "Invalid csl in test suite"
I noticed the following invalid CSL (no layout element under citation) in the test suite.  This breaks my parser.  Is it intentional?
[code]
This is in `date_RangeDelimiter.txt`.

[2020-05-29 17:15] #22 closed

[2020-05-29 17:16] bdarcus commented on #22
Thanks John.

Should be fixed with the commit I just pushed.

I have to assume it was just an oversight.

[2020-05-29 17:37] bdarcus commented on #11
Can we close this now?

[2020-05-29 17:43] bdarcus commented on #17
I'm going to close this for now, as I think we've done what we can quickly.

The bigger and broader changes (though it should be feasible to automate a lot of what I suggest I think) will be necessary as we move towards v1.1, but those will have to wait.

[2020-05-29 17:43] #17 closed

[2020-05-29 17:44] bdarcus commented on #9
Sounds like this is another issue that would benefit from a PR against the spec?

[2020-05-29 17:49] DrGo commented on #11
Yes
It sounds they are permitted

[2020-05-29 17:50] #11 closed

[2020-05-29 17:55] larsgw commented on #9
I think the amendment would be removing point 1 from the spec entirely, I don't know if that's wanted. But I can make a PR later.

[2020-05-29 18:14] bdarcus commented on #9
To be clear, I haven't looked at the specifics closely. I'm just trying to try, across a number of repos, and gathered that from what I could tell of where the conversation ended up.

Thoughts @fbennett?

[2020-05-30 01:36] jgm commented on #22
Thanks.

[2020-05-30 03:15] adam3smith commented on #9
Removing point 1 (and adjusting the remaining phrasing) seems right to me.
This removes the ability for title-case to fix poor data entry, but it avoids the risk of unintended lowercasing of an all acronym (or otherwise intentionally all caps) title. This seems like the right approach to me -- I'm not aware of any complaints about the current citeproc-js behavior.

[2020-05-30 13:22] rmzelle commented on #9
I have a bunch of old items in my Zotero library with all-caps title (mostly patents like https://patentscope.wipo.int/search/en/detail.jsf?docId=WO2011142027), but it looks like Zotero nowadays sentence cases them when saving. (plus Zotero has the option to re-case titles post-save)

I'd be fine with the tenet that CSL processors shouldn't try to clean up messy metadata, which is the main purpose

[2020-06-03 01:33] jgm opened #23 "undefined macro in test case"
In name_SubsequentAuthorSubstituteSingleField.txt there is a reference to a contributors-short macro, which is not defined there.
Is that intentional?
Is there a specified behavior when an undefined macro is called?  Should a processor return empty output, or should an error or warning be produced?

[2020-06-03 01:52] adam3smith commented on #23
No. Fix forthcoming (the undefined macros are all in the citation section which isn't used in the test at all, which is why it's presumably passing in other citeprocs)

I don't know; certainly not in the specs. citeproc-js returns empty, but I'm ambivalent about that: it makes style bugs less severe, but also harder to track down (e.g. a typo in a macro call which just make something not appear ra

[2020-06-03 01:57] #23 closed

[2020-06-05 13:25] bdarcus commented on #13
I opened a new linked issue. But CSL is not for GUI clients only, so we can't base decisions on that. I have a hunch that can tweak their code to help users here.

[2020-06-12 17:57] jgm opened #25 "Page ranges with letters"
The spec doesn't make clear what to do when page ranges have letters, but there are tests like this.  Some of the expected results seem wrong to me, though.

E.g. in page_Minimal.txt, the second to last example
[code]
turns into
[code]
Why?  That makes no sense to me.  I am inferring that the algorithm is:

- strip off the common letter content
- rangeify the numbers as you'd normally do

Is that

[2020-06-12 22:53] bdarcus commented on #25
I don't have my copy of chicago handy. Anyone else know? Beyond confirming the tests, looks like we need to add something on this to the spec.

@bwiernik @denismaier @fbennett @adam3smith

[2020-06-13 01:10] adam3smith commented on #25
I think the logic makes some sense: At times, page number have a prefix that identifies them as pages, e.g., in a separately published appendix. In those cases, there's no reason to think that standard page number collapsing rules shouldn't apply, i.e. if you're citing A231 to A232, A231-32 (Chicago) or A231-2 (minimal) does seem to make sense and increase readability.

The downside I'm seeing (an

[2020-06-13 05:04] jgm commented on #25
It would be helpful if the test suite could have a field that says whether the test really tests spec behavior or just some additional behavior that citeproc-js implements but isn't part of the spec.

[2020-06-13 05:05] jgm commented on #25
Anyway, thank for explaining the logic.  I think it makes sense, and I'm happy to close this!

[2020-06-13 05:05] #25 closed

[2020-06-13 05:13] jgm commented on #25
By the way, the reason I have all these questions is that I'm writing a new Haskell CSL processing library.  The legacy code in pandoc-citeproc (inherited from citeproc-hs) is really hairy and I can't understand it well enough to maintain it; in addition, I never really understood CSL, and this is forcing me to learn it.  The new library will be faster and more accurate than pandoc-citeproc, and i

[2020-06-13 07:01] denismaier commented on #25
Wow, very cool.
In case there is something a non-haskeller can help with (e.g. testing or so), just give a shout.

[2020-06-13 08:54] bdarcus commented on #25
This is related to #17, so I strongly agree.

Identifying these would also give us a checklist of details that we should add to the spec.

Could you perhaps post a list of tests you think might qualify, beyond this one?

[2020-06-13 09:08] bdarcus commented on #25
Since you're working on this (great!), the activity on the schema repo is aimed towards pushing out two releases this Summer, one of them a 1.1 release (we're also doing a minor release with new strings (types, variables, etc.).

So far 1.1. doesn't have any breaking changes, but it does make explicit, and extends, a feature you already support in pandoc: [citet citation config](https://github.com

[2020-06-13 17:49] jgm commented on #25
I'm sorry, I should have been keeping track. Just a couple things I can recall off the top of my head:

- the test cases expect a conversion of unicode superscripted letters to csl `<sup>` elements
- the list of "stop words" for title case in the spec do not seem to be complete; I had to add: "about", plus name particles "van", "von", "de", "d", "l".
- in titlecase, non-English characters don't ge

[2020-06-13 19:05] jgm opened #26 "Weird page range questions"
In `page_ChicagoWeird.txt` the range `n11564-1568` is supposed to be rendered as
[code]
(where `-` is ascii hyphen). Why is it this and not
[code]

In `page_ExpandWeirdComposite.txt` the page range `123N110 - N5, 456K200 - 99` is supposed to be rendered as:
[code]
(This just collapses spaces around the ascii hyphens, without turning them into en dashes are doing other substitutions.)  Why is this

[2020-06-13 22:10] fbennett commented on #17
To confirm, tests that exercise CSL-M style code have a version of `1.1mlz1`, and reside in the [citeproc-js](https://github.com/Juris-M/citeproc-js/tree/master/fixtures/local). Some features of CSL-M may be recognized by that processor in CSL mode, where they don't conflict with CSL behavior and I was too lazy to disable them in the processor code.

[2020-06-13 22:17] bdarcus commented on #17
So at this point, @fbennett, the only issues in the files in this may be where spec and test need to be aligned?

And are you saying in the cslm test repo, you are also using a "version" variable?

[2020-06-13 22:53] fbennett commented on #25
HI John. The specifics of the code won't be much use, but the [disambiguation control loop](https://github.com/Juris-M/citeproc-js/blob/master/src/disambig_cites.js#L520) of `citeproc-js` might be worth a quick look, if only for the sequence of operations. Apart from a few minor bugfixes, the code in there hasn't changed in six years of operation.

The specific code in the module re-renders citati

[2020-06-13 23:04] fbennett commented on #17
There may still be some things in there that need weeding out. If you came across any culprits, let me know and I'll move them out to the other repo.

On version markers and description, YAML would be good. Also, it might be helpful to both style and processor developers to assign tags to the fixtures, to indicate features that each is meant to exercise, maybe to indicate the "level" of CSL comple

[2020-06-14 01:52] bdarcus commented on #17
YAML would be better, but how sensitive is all this to change?

[2020-06-14 02:08] fbennett commented on #17
If a team dug into it, the choices of syntax and content constraints should be made carefully, of course.

[2020-06-14 10:54] bdarcus commented on #17
So sounds like maybe I should add `tags` and `description` to the PR. I don't feel comfortable modifying beyond that, but it leaves room for others to build on it later (for example, converting to YAML, or whatever).

[2020-06-14 17:18] jgm commented on #25
Thanks for the pointer.  Disambiguation feels like the biggest hill to climb!

[2020-06-16 21:57] jgm opened #28 "Question about test/csl/sort_OmittedBibRefMixedNumericStyle.txt"
Something I don't understand here.
The layout is
[code]
I would assume  that this means that items with type `personal_communication` produce no output.  But oddly, the expected RESULT includes the citation number:
[code]
See the `2.` in the second entry.  Why?

[2020-06-17 12:32] bdarcus commented on #28
I agree that looks wrong, and that the 2 div shouldn't be there (right?).

Can @adam3smith or @fbennett confirm?

[2020-06-17 13:48] adam3smith commented on #28
I think John's question isn't why the `<div>`  element is there, but why it contains the citation number, which is inside the if condition.

I agree that logically this seems wrong. That said, I don't think the behavior for citations without a printed form is currently defined in the specs (right?) and I'm guessing Frank added the citation number for easier identification of the problematic item.

[2020-06-17 13:56] bdarcus commented on #28
So we need language in the spec, ideally for 1.1, that addresses two cases:

1. nocite (but reference printed in bib)
2. the opposite (this one; cite, but no bib entry)

... and then to update this and any related test(s) accordingly?

Right?

[2020-06-17 14:36] bwiernik commented on #28
Related issue: https://github.com/citation-style-language/documentation/issues/74

I think we would need to handle three cases:
1. `nocite`: uncited items that are included in the bibliography (this is pandoc's `nocite` or if a user used Zotero's Edit Bibliography function to add an uncited item to the bibliography)
2. "noref": cited items that are excluded from the bibliography using a conditiona

[2020-06-17 16:08] jgm commented on #28
I guess the idea must be that in a numeric style, it would be confusing to omit an item altogether, since then the numbers would not be consecutive. So this is handled by a special case, even though it goes against the strict letter of the spec.

[2020-06-17 16:12] jgm commented on #28
But in my opinion a better solution would just be to write the style differently:
[code]

[2020-06-17 16:59] bwiernik commented on #28
@jgm See my comments here: https://github.com/citation-style-language/documentation/issues/92

[2020-06-17 17:00] bwiernik commented on #28
I agree. Issues about processing noref citations aside, this test seems to be written wrong.

[2020-06-17 23:55] jgm opened #29 "Question about variables_TitleShortOnShortTitleNoTitleCondition.txt"
I have another test case I can't understand.
In this case the style is
[code]
There are three citations.  The first is to a reference with `title-short`, the second to a reference with `title` but not `title-short`, the third to a reference with neither `title` nor `title-short`.

My processor gives no output for the third citation.  Why?  Because the spec for `group` says:

It seems to me that th

[2020-06-18 05:34] denismaier commented on #29
Looks wrong to me as well.
Perhaps the inner group hides its contents from the outer group so the suppression mechanism can't be applied. @fbennett ?
Dont know if there's something in the spec that allows that.

[2020-06-18 11:21] denismaier commented on #29
Hmm, this here works as expected:

[code]

This here as well:

[code]

Here,  the suppression logic seems to work: The inner group is suppressed and that the outer group gets suppressed as well.

[2020-06-18 12:07] bdarcus commented on #29
Can you clarify what you mean by "works"? In what context?

[2020-06-18 12:28] denismaier commented on #29
That tests fail as expected when using the citeproc test runner.

[2020-06-18 13:31] adam3smith commented on #29
I agree the test behavior is clearly contrary to specs.

The reason for the test behavior is that the group "protects" the included `text value` element. (The reason @denismaier 's modifed test behaves differently is that the lower-level group now also includes a variable, so that renders empty on its own count.).

I somewhat recall a lengthy discussion about the appropriate behavior for group ele

[2020-06-24 22:21] jgm opened #30 "Question about display_SecondFieldAlignMigratePunctuation.txt"
I'm unclear why the expected result here has `pp. 463-509` instead of `pp 463-509`, since `strip-periods` is set to `true` on the `page` macro.  I must be missing something: can anyone explain this?

[code]

[2020-06-24 22:22] jgm commented on #30
Ah, I see now.  The suffix adds the period.

[2020-06-24 22:22] #30 closed

[2020-06-25 17:20] jgm opened #31 "Question about sort_ConditionalMacroDates.txt"
I'm baffled by this one -- there must be something I'm not understanding.

We have
[code]
and the issued-date macro looks like this:
[code]
Note the `<text variable="title"/>` which appears before the date.  So the output of this macro for the various items should be something like
[code]
And that should give (for an ascending sort): item-3, item-1, item-2, resulting in:
[code]
Instead, the expect

[2020-06-25 17:40] adam3smith commented on #31
This one doesn't make any sense to me either.
Some quick tests show that:
1. citeproc-js indeed behaves this way (as one would hope given the test)
2. This is unrelated to the numbers in the title: Title A, Title B, Title C behave the exact same way
3.

[code]
Sorts as

as expected (with or without the title being part of the issued-date variable).

It'd be great if @fbennett could chime in, but I

[2020-06-25 22:17] fbennett commented on #31
Ah, I remember this one. Rintze and I [discussed the case](https://bitbucket.org/bdarcus/citeproc-test/issues/12/sort_conditionalmacrodatestxt) in 2013, back in the BitBucket days. In the discussion Rintze also questioned the discarding of the non-date text from the macro when generating keys, and noted that doing so is an off-spec invention.

As I note in the linked thread, intermixing date and s

[2020-06-26 10:05] denismaier opened #32 "Add tests to demonstrate split-title behaviour (for 1.1)"
PR follows... (just a reminder for myself)

[2020-06-26 10:08] bdarcus commented on #32
Note that I added a version field for tests, which you can use here.

[2020-06-26 20:03] jgm commented on #31
I still don't understand this, even after reading the linked discussion.  It's perfectly coherent to sort first on a text field, then on a structured date field (whose fields are determined by some kind of condition).

[2020-06-27 02:43] fbennett commented on #31
The test is muddled, and should be divided into two separate fixtures for clarity. The reason for boiling the macro down to the date alone is that sorting on a string concatenation of title and date can produce different results than sorting atomically on the title and then on the date. Things can get messed up if the title ends in a number. Here are three entries sorted by title, then by date:
[c

[2020-06-27 03:52] adam3smith commented on #31
Thanks -- the reason now makes more sense to me, though I'm still not clear what's particular about dates here:

Title      |  99 Red balloons
Title 1   | 1 Flew over the cuckoo's nest

Also reverses sort order when concatenated into a single string.

My inclination would therefore be to have processors/tests behave according to spec and to discourage using multi-variable macros for sorting, poten

[2020-06-27 10:54] fbennett commented on #31
That's the best for processor simplicity. The styles listed above should be amended to assure consistent results, though.

[2020-06-27 12:09] adam3smith commented on #31
I'm working on that -- seems like a good idea anyway in case other processors decide(d) to ignore the test & follow the letter of the specs and it won't affect output given current citeproc-js behavior, so we don't need to coordinate timing.

Will also create a PR for changing the test by removing the title from the issued-date macro.

@bdarcus would you create a PR for the specs that adds somethi

[2020-06-27 12:19] bdarcus commented on #31
Shouldn't we just remove this test?

The file name, and purpose, of the test would change too, if we remove the macro call.

[2020-06-27 16:15] adam3smith commented on #31
I interpret the name & content of the test to test sorting by a macro where the date format is conditional on the item type and the test would still do this without the title in the macro.

[2020-06-27 18:13] #31 closed

[2020-07-10 17:55] denismaier opened #35 "Add tests that show new conditions"

[2020-07-20 20:24] jgm opened #36 "Question about collapse_ChicagoAfterCollapse.txt"
I'm confused about this test; probably I don't understand how `after-collapse-delimiter` is supposed to work, and I'm hoping someone can illuminate me.

The result is
[code]
I fully understand the first entry: we use the `after-collapse-delimiter`, which is `;`, after the collapsed "Whittaker 1967, 197".  But what is going on in the third?  Here there is no collapsing.  Yet the `after-collapse-del

[2020-07-31 04:08] jgm commented on #36
Can anyone help explain this?

[2020-07-31 07:57] denismaier commented on #36
I have no idea, but how this is implemented, and if there is some further reasoning behind that. But after reading the specs, this looks like a bug to me. As no collapsing takes place in the third citation, I don't see why the `after-collapse-delimiter` should be used instead of just the regular `delimiter`. So yes, I agree the expected output should be:
[code]

@fbennett ?

[2020-07-31 08:13] denismaier commented on #36
Hmm, maybe: Chicago uses a semicolon as delimiter between multiple sources in the same citation. So, actually I wonder why we have `delimiter=", " instead of `delimiter="; ...? Is this some hack to accommodate these rules?

[2020-07-31 11:34] fbennett commented on #36
My memory on this was hazy, but with some detective work I've confirmed that @denismaier's intuition is exactly right. The report below is a bit long, but there is a prize at the end.

The ``after-collapse-delimiter`` attribute has been in there since at least 2009, with a test that conforms to the spec:
[code]
Oddly, both this test and the ``collapse_ChicagoAfterCollapse.txt`` test raised here pa

[2020-07-31 11:45] bdarcus commented on #36
Wow; quite the detective work!

As we wrap up 1.1, should we fix this in the schema?

If yes, how?

[2020-07-31 11:53] fbennett commented on #36
As @adam3smith notes in the Zotero forum thread, the delimiter attributes are a bit of a mess. It might be time for an audit of what styles require, and root-and-branch reform of the attributes and their respective names.

[2020-07-31 12:05] bdarcus commented on #36
Hmm ... any thoughts on this @bwiernik?

[2020-07-31 12:59] bwiernik commented on #36
Yeah, clarifying the names would be really good here.

[2020-07-31 13:26] bdarcus commented on #36
This was partially resolved, it seems, by adding `@cite-group-delimiter` ...

https://github.com/citation-style-language/schema/issues/52

...  but this test doesn't use it; I guess because the comma is default.

In any case, the above linked issue is the primary record, I think.

Perhaps at minimum we could add to the docstrings for these two attributes, with an example; maybe even the one John p

[2020-07-31 13:30] bwiernik commented on #36
I think we will need at least one new attribute. Working on a post.

[2020-07-31 13:38] fbennett commented on #36
``chicago-author-date.csl`` doesn't sort citations, so (in current citeproc-js) ``citation-group-delimiter`` would not be available.

(Does CMoS mandate grouping of citations by the same author, or is the order left to author discretion? If the latter, that would undermine the case for imposing author grouping in all styles, regardless of presence/absence of explicit citation sorting.)

[2020-07-31 13:39] bwiernik commented on #36
It's left to discretion. Chicago recommends alphabetical, chronological, or based on rhetorical purpose.

[2020-07-31 13:43] bwiernik commented on #36
I didn't pull up specific manual references for these, but I can recall styles specifying the following delimiters for citation groups:

| Delimiter | Example | Current name | New name |
| ---------- | --------- | --------------- | ------------ |
| Delimiter between cites | Jones 1992`; ` Smith 1994 | `delimiter` on `cs:citation` | `delimiter` on `cs:citation` |
| Delimiter between cite and locato

[2020-07-31 14:02] bdarcus commented on #36
That's super helpful; thanks!

We should move this to the schema repo.

I wonder, at least to clarify documentation:

Doesn't the "collapse" language, per my consistent argument over the years (as you can see in the linked threads), confuse the issue?

"Collapsing" is the outcome of the formatting, not logically what's happening in the styles; nor how a style guide would describe it. And collapsin

[2020-07-31 14:16] bwiernik commented on #36
In style writing, [cite grouping](https://docs.citationstyles.org/en/1.0.1/specification.html#cite-grouping) and [cite collapsing](https://docs.citationstyles.org/en/1.0.1/specification.html#cite-collapsing) are two different steps to accommodate two different types of style recommendations.

Some styles, like APA and Chicago, collapse adjacent citations by the same author. Chicago for example say

[2020-07-31 14:19] bwiernik commented on #36
I added page numbers to the Jones 1992 item in each of the examples. Sorry that I mistakenly left off the locator from the with-locator example before.

[2020-08-27 18:36] jgm opened #37 "Question about test/csl/sort_DropNameLabelInSort.txt"
I see that this test is assuming that a label inside a name element will be dropped in generating a sort key, even if it appears in a macro.  I just don't see anything in the spec about this.  Is this non-spec behavior?

The spec says:

"The sort key value for a macro called via cs:key via the macro attribute generally consists of the string value the macro would ordinarily generate, without rich

[2020-08-27 23:01] adam3smith commented on #37
Yes -- I think the test behavior is definitely what we want, but it's not
in the specs (or maybe can be inferred somehow from a very peculiar
reading, but in any case should be fixed)

On Thu, Aug 27, 2020 at 2:37 PM John MacFarlane <notifications@github.com>
wrote:

--
Sebastian Karcher, PhD
www.sebastiankarcher.com

[2020-08-27 23:02] jgm commented on #37
It would be great if this could be clarified in the spec.

[2020-08-27 23:34] bdarcus commented on #37
I opened an issue for the spec, but don't myself know how to resolve it.

[2020-09-03 17:15] jgm opened #38 "Question about affix_WithCommas.txt"
Is the expected result for this test correct?
[code]
I would have thought that in the second and third items, the short form of the names would be used because of
[code]
But maybe there's something I'm misunderstanding?
Isn't the criterion for "subsequent" met in this case?

[2020-09-03 21:20] jgm opened #39 "Question about collapse_YearSuffixCollapseNoYearSuffixDelimiter.txt"
This style seems to be defaulting for `cite-group-delimiter` to the delimiter on the layout, instead of to `", "` as the spec says:

We have
[code]
Note that no `cite-group-delimiter` is set explicitly.  However, the expected result is
[code]
instead of what I'd expect from the spec:
[code]
Interestingly, if you DO set a `cite-group-delimiter` on teh `citation` element in this style, it does repla

[2020-09-03 21:25] jgm commented on #39
Hm, maybe this is partly a question of whether `after-collapse-delimiter` or `cite-group-delimiter` should be used.  But either way there seems to be a problem with citeproc-js, because when we explicitly specify a `cite-group-delimiter` it is used instead of ", " in teh above case.

[2020-09-03 21:28] denismaier commented on #38
I'd also think that rendering according to `position="subsequent"` would be the expected behavior. I don't see why the full form should be used throughout. It's not only the names, also the year gets repeated in the second and third citation.

[2020-09-06 01:22] jgm opened #40 "Question about primary-name disambiguation"
I'm getting unexpected results with chicago-author-date.csl, which has  `givenname-disambiguation-rule="primary-name"`.  I think I must be misunderstanding the spec.

The spec says:

Okay, I look that up:

Now I lookup "all-names":

So my understanding was that, for ALL of these modes, disambiguation is triggered not just by ambiguous citations but by ambiguous names.

But that's not how citeproc-

[2020-09-06 15:58] jgm opened #41 "Question about disambiguate_AndreaEg1a.txt"
I don't understand this test.  We have
[code]
The first citation has two cites which are identical except for the id.
Expected result, according to the test, is

[code]

but why isn't it simply

[code]
After all et-al-use-first is 1, and "add-names" seems irrelevant here because adding names doesn't help to disambiguate the citation in this case.  It seems that the expected behavior is that we add

[2020-09-06 16:19] bdarcus commented on #40
I think it's fine to put the questions here. We can always move the issue to the documentation repo if the problem with the spec.

I've assigned this to Frank and Sebastian, and copying @cormacrelf if he has any thoughts.

We need to remember, BTW, to add comments to tests like this to clarify the expectations, once we settle the issue.

[2020-09-06 16:19] bdarcus commented on #41
I've assigned this to Frank and Sebastian, and copying @cormacrelf if he has any thoughts.

[2020-09-06 16:19] bdarcus commented on #39
I've assigned this to Frank and Sebastian, and copying @cormacrelf if he has any thoughts.

[2020-09-06 16:20] bdarcus commented on #38
I've assigned this to Frank and Sebastian, and copying @cormacrelf if he has any thoughts.

[2020-09-06 16:48] adam3smith commented on #40
Primary name only looks at first authors for ambiguity, i.e. you only get
A. Doe of there's another cite with B Doe as first author

Sent from my phone

On Sat, Sep 5, 2020, 21:22 John MacFarlane <notifications@github.com> wrote:

[2020-09-06 17:22] jgm commented on #40
Thanks, that makes sense.

[2020-09-06 17:22] #40 closed

[2020-09-06 20:36] jgm commented on #41
Playing with citeproc-js, I see that if you remove all but the first citation it still gives the same results.

But, then, if you ALSO remove the uncited items from the bibliography (ITEM-3 and ITEM-4), *then* you get `Smith et al. (1980; Smith et al. (1980)`.

This is unexpected, because there is no explicitly specified `given-name-disambiguation-rule`, which means that the default `by-cite` shou

[2020-09-06 20:44] fbennett commented on #41
The test is in the context of a single document, with four items: 1 ,2, 3 & 4, where item 3 can be disambiguated from the others by adding one name (as Smith, Benson). Items 1, 2 & 4 remain ambiguous, but if represented by a single name (Smith), a reader flipping to the bibliography from one of those three citations would see 4 possible matches, not three. In other words, placing the second name o

[2020-09-06 21:06] fbennett commented on #39
I think you're right about ``citeproc-js`` using the wrong default delimiter around cite groups, but (inside the processor) that's not the immediate cause of the behavior in this test. As currently coded, ``citeproc-js`` does not perform citation grouping unless there is a ``cs:sort`` element under ``cs:citation`` (recently discussed here: https://github.com/citation-style-language/test-suite/issu

[2020-09-06 21:38] fbennett commented on #38
This is one of quite a few fixtures in which I lazily grabbed a full style for the CSL, and it's confusing here. The test was not intended to exercise position evaluation, and its input format (with CITATION-ITEMS) did not provide any context information. The processor was run in a mode that ignores implicit document context hints. I've changed the input format on the test to the full form (CITATI

[2020-09-06 22:33] bdarcus commented on #38
Thanks Frank!

[2020-09-07 14:01] cormacrelf commented on #41
Frank is exactly right. The spec says:

My approach has been to consider each cite individually with respect to the four references in the bibliography, rather than as a cite in a set of cites. That means looking at a cite, adding names one by one until there are no more names, and rolling back to the last addition that made an improvement (reduction) to the count of possible matches. Then look at

[2020-09-07 19:17] jgm commented on #41
I get it now! thanks for your explanations.

[2020-09-07 19:17] #41 closed

[2020-09-08 17:30] jgm commented on #38
Thank you!

[2020-09-08 17:30] #38 closed

[2020-09-28 06:04] jgm opened #42 "Question about bugreports_SmallCapsEscape.txt"
This is probably my own lack of understanding, but I'm confused about this test given what the spec says.
The test includes
[code]
and the expected result suggests that this is supposed to render "N.d" (from the date-bibliography macro).  But I don't see how this is consistent with what the spec says about `group`, namely:

It seems to me that both a) and b) are true in this case.  a) at least one

[2020-09-30 11:43] denismaier commented on #42
Good question. I think the current behavior is what you'd want here, but also don't see how this is consistent with the spec.
Perhaps @bwiernik @adam3smith @fbennett know more about this?

[2020-09-30 12:50] bwiernik commented on #42
This was clarified in the spec in July:

Using the no-date term in a macro is the main application of this rule.

[2020-09-30 16:25] jgm commented on #42
Oh, I wish I'd known about that from the beginning! It will require some larger architectural changes to accommodate this.

[2020-09-30 16:25] #42 closed

[2020-09-30 17:20] jgm commented on #42
The fix wasn't actually too hard. Thanks for the reply!

[2020-09-30 17:22] bdarcus commented on #42
We should probably add this note to the test.

On Wed, Sep 30, 2020, 1:20 PM John MacFarlane <notifications@github.com>
wrote:

[2020-09-30 18:19] bwiernik commented on #42
@jgm It's the same general thing we discussed in the open pull request about "encapsulating" macro behavior.

[2020-10-01 01:01] jgm commented on #36
I still don't quite get the expected results.

[code]
Here we have a collapsed citation:  `Wong 1999, 328` and `Wong 2000, 475` collapse to `Wong 1999, 328; 200, 475` -- but the after-collapse delimiter `; ` is NOT used between them.  It seems that this is due to the presence of a locator, perhaps?  But I'm still missing a clear statement of the rule to follow.

[2020-10-09 21:25] jgm opened #43 "Question about test/csl/number_PlainHyphenOrEnDashAlwaysPlural.txt"
This test has an item with `"page": "Michaelson-Morley"`.
The expected test results show that the processor is expected to recognize that this is not really a page range, and hence (a) not use the plural form "pages" and (b) not turn the `-` into an en-dash.

Since this is all undocumented in the spec, I want to ask what the algorithm is.  How do we decide whether something is really a page range?

[2020-10-09 21:51] jgm opened #44 "Collapsing punctuation"
I'm baffled about how consecutive punctuation is expected to be handled; the test suite seems to do different things in different places, and often those things seem strange.

For example in `affix_WithCommas.txt`, `,;` seems to collapse to `,`, but in `punctuation_FullMonty*.txt` it stays `,;`.

I can't think of a case where I'd actually want to see `,;` -- and it seems to me that collapsing to `

[2020-11-20 23:06] fbennett commented on #44
Sorry for the delay in responding. (I've turned on notifications now.)

In [affix_WithCommans.txt](https://github.com/citation-style-language/test-suite/blob/master/processor-tests/humans/affix_WithCommas.txt), the comma is the leading character of a user-supplied suffix, and overrides the style-supplied delimiter. The CSL Specification doesn't say anything about user-supplied suffixes, but overri

[2020-11-22 20:19] #37 closed

[2021-05-24 18:32] yarikoptic opened #46 "Test the test-suite"
We are observing some tests failures in citeproc-py on an exotic Windows platform.  Insofar it might be boiling down to incorrect loading of the test-suite files by

the problem lies in default code page used to load the files. Compare

[code]

to the one on windows:

[code]

so since test-suite comes with the code, I thought it would have been nice if code was accompanied with tests and they were

[2021-09-13 17:55] zepinglee opened #48 "Missing name attribute "initialize-with" in test name_AllCapsInitialsUntouched"
The test [`name_AllCapsInitialsUntouched`](https://github.com/citation-style-language/test-suite/blob/c3db429ab7c6b9b9ccaaa6d3c6bb9e503f0d7b11/processor-tests/humans/name_AllCapsInitialsUntouched.txt) is supposed to check initialization of uppercase names as its file name suggests. However in its CSL, both `name` elements do not have `initialized-with` attributes and thus there is no initializatio

[2022-07-15 08:23] zepinglee opened #50 "Why does explicit `cite-group-delimiter` override `year-suffix-delimiter`?"
In [`name_CiteGroupDelimiterWithYearSuffixCollapse.txt`](https://github.com/citation-style-language/test-suite/blob/0c366b60b35bd20cdc9d1a1e3b9c04756645868f/processor-tests/humans/name_CiteGroupDelimiterWithYearSuffixCollapse.txt), the `cite-group-delimiter` is explicitly set `", "` and the `year-suffix-delimiter` is by default the delimiter of `citation > layout` (i.e., `"; "`) according to the [

[2022-07-15 09:47] zepinglee commented on #50
I've not fully understood row 1. The current spec says:

Specifies the delimiter for year-suffixes. Defaults to the delimiter set on cs:layout in cs:citation.

The current behavior is that `year-suffix-delimiter` inherits the value of `cite-group-delimiter` unless explicitly set.

[2022-07-15 10:02] zepinglee commented on #50
I just find <https://github.com/citation-style-language/test-suite/issues/36#issuecomment-667126525> and it's clear now.

[2022-07-15 10:13] bwiernik commented on #50
Could you elaborate on what's clear? I'm not sure I understand. I agree with @adam3smith that year-suffix-delimiter should take precedence if both are set. Is that not the case?

It makes sense to me that if cite-group-delimiter is set but year-suffix-delimiter is not set, that year-suffix-delimiter should default to cite-group-delimiter rather than the overall layout delimiter.

[2022-07-15 11:16] zepinglee commented on #50
Sorry, I was messed up with a bunch of test cases. I agree that `year-suffix-delimiter` should take precedence over `cite-group-delimiter`.

Besides the description of `cite-group-delimiter`'s default value may be mistaken.

<https://docs.citationstyles.org/en/stable/specification.html#cite-grouping>

Activates cite grouping and specifies the delimiter for cites within a cite group. Defaults to “,

[2022-07-15 13:58] zepinglee commented on #50
I check several case in test-suite and confirm the default values of both parameter in the current citeproc-js implementation are as described in spec: `cite-group-delimiter` defaults to ", " ([sort_GroupedByAuthorstring.txt](https://github.com/citation-style-language/test-suite/blob/0c366b60b35bd20cdc9d1a1e3b9c04756645868f/processor-tests/humans/sort_GroupedByAuthorstring.txt)) and `year-suffix-d

[2022-07-15 14:09] bwiernik commented on #50
Yeah, that doesn't seem correct.